body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  margin-top: 10px;
  margin-left: 400px;
  text-align: left;
  padding: 10px;
  
}

/* .navbar {
  position: relative;
} */

.form-control {
  margin-left: 400px;
  margin-bottom: 10px;
}

.inputbutton {
  position: relative;
  margin-left: 250px;
  padding: 50px;
  margin-bottom: 20px;
}
.tabs {
  /* float:left; */
  margin-left: 0px;
  margin-top: 10px;
   width:100%;
   background:#fff;
   border-bottom:2px solid #000;
   overflow:hidden;
   position:relative;
}
.tab {
  /* clear:left; */
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:20%;
   text-align:center;
}
.tabitem {
  display:inline;
  margin:0 0 0 1px;
  padding:3px 10px;
  background:#ddd;
  color:#000;
  text-decoration:none;
  line-height:1.3em;
  width: 20px;
}



.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}


.movies {
  /* margin-top: 100px; */
  position: relative;
  width: 500px;
  margin-left: 250px;
  text-align: left;
  padding: 10px;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-size: 0ch;
  border-color: gray;
}

.label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt
}

.movie {
  list-style: none;
  height: 200px;
  /* padding: 50px; */
  /* display: inline-block; */
  text-align: bottom;
  /* border-style: solid;
  border-width: 1px;
  border-color: gray; */
}
.item {
  text-align: float
}

.towatch {
  text-align: right;
  float: right;
  vertical-align: text-bottom;
}


.details-header {
  margin-top: 50px;
  font-size: large;
  font-style: italic;
  font-style: bold;
  margin-left: 400px;
}

.info {
  margin-left: 100px;
  margin-top: 10px;
  padding: 10px
  
}

.info-border {
  border: solid #ccc;
  padding: 50px;
}